@charset "utf-8";
/* CSS Document */

@media (min-width: 1700px){
	
}
@media(min-width:1600px){

}
@media (min-width: 1200px) and (max-width: 1600px) {

}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (min-width: 768px){
	
}
@media (max-width: 767px) {
	
}
@media (max-width: 600px) {
	
}
@media (min-width: 900px) {
    .wrapper {
	    min-width: 1300px;
    }	
	.header{
	    width: 100%;
	    height: 150px;
	    background: rgba(0,0,0,0.50);
    }
    .header-tit{
    	width: 1280px;
    	height: 50px;
    	border-bottom: solid 1px #333;
    	margin: 0 auto;
    	padding: 5px 10px;
    }	
	.header_none hr{
		display: none;
	}
	.header_none{ /*none-header*/
		position: relative;
	    width: 100%;
	    height: 150px;
	    background: rgba(0,0,0,0.50);
    }
    .header-tit_none{ /*none-header*/
		position: relative;
    	width: 1280px;
    	height: 60px;
    	border-bottom: solid 1px #333;
    	margin: 0 auto;
    	padding: 5px 10px;
    }
	.login_input{/*none-header*/
		position: absolute;
		top:0;
		right: 181px;
	}
	#UserID,#pwd{/*none-header*/
		position: relative;
		margin-top: 18px;
		width: 200px;
		height: 34px;
		background-color: rgba(0,0,0,0.5);
		display: inline-block;
		font-size: 16px;
	}
	.UserID{
		position: relative;
	}
	.UserID::before{
		content: "";
		width: 50px;
		height: 50px;
		background: red;
		position: absolute;
		top:0px;
		left: 0px;
		z-index: 9999;
	}
	.LVCode_div{/*none-header*/
		
	}
	.LVCode_div{/*none-header*/
		
	}
	.LVCode_div img{
		
	}
	#ValidateBtn{/*none-header*/
		margin: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
		width: 50px;
		padding: 6px;
		vertical-align: middle;
	}
	#LoginValidateCode{/*none-header*/
		
	}
	.loginBrn_div{/*none-header*/
		position: absolute;
		top:0;
		right: 0px;
		padding-top: 5px;
	}
	#loginBtn{/*none-header*/
		height: 36px;
		margin-right: 10px;
		margin-top: 13px;
	}
	#signinBtn{/*none-header*/
		height: 36px;
		border:1px solid #9c8866;
		background-color: rgba(0,0,0,0.5);
		color: #9c8866;
		margin-top: 13px;
	}
	#signinBtn:hover{/*none-header*/
		height: 36px;
		border:1px solid #9c8866;
		background-color:#9c8866;
		color: #fff;
	}
	
	
	
	
	
	.header-tit-point{
	height: 35px;
	background-color: rgba(0,0,0,0.5);
	border-radius: 50px;
}
	.header-tit-point:before{
	top:-4px;
	left: -50px;
	background-image: url(../images/icon-chip.png);
	background-repeat: no-repeat;
	background-position: left 0px;
	background-size: 50px;
	z-index: 2;
}
	.header-tit-point{
	float: left;
	position: relative;
	padding-left: 30px;
	padding-right:30px;
	margin-left: 80px;
	margin-top: 10px;
    }
	.user-email{
	float: right;
	margin: 10px 5px;
	padding:  10px 20px;
    }
	.btn-logout{
	margin-top: 8px;
	float: right;
    }
	.header-nav{
	width: 1280px;
	margin: 0 auto;	
	}
	.header-nav_none{ /*none-header*/
	width: 1280px;
	margin: 0 auto;	
	}
	.dropdown-btn{
		display: none;
	}
	.header-nav-menu{
	float: right;
    }
    .header-nav-menu ol li{
    	text-align: center;
    	color: #fff;
    	float: left;
    
    }
    .header-nav-menu ol li span{
    	font-size: 25px;
    	line-height: 30px;
    	color: #9c8866;
    }
    .header-nav-menu ol li a{
    	display: block;
    	color: #fff;
    	height: 69px;
    	line-height: 20px;
    	padding: 0px 20px;
    	padding-top:20px;
    }
    .header-nav-menu ol li a:hover{
    	background: rgba(255,255,255,0.1);
    	padding-top:15px;
    	border-bottom: 5px solid #9c8866; 
    }
	.swiper-container {
	  position: relative;
      width: 1280px;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
	.marquee_form{
	margin: 0 auto;
	margin-top: 8px;
	height: 50px;
	width: 1280px
}
	.navbar-Marquee {
	    width: 60%;
	    float: left;	
  		text-align: left;
  		border-radius: 50px;
  		line-height: 20px;	
	    margin-top: 10px;
	    margin-left: 10px;
	    background:rgba(0,0,0,0.5);
	    padding: 5px 20px;
		}
	.marquee_form_left{
	padding: 1px;
	line-height: 50px;
	float: left;
	font-size: 40px;
}
	.marquee_form_right{
	float: right;
	margin-top: 15px;
	margin-right: 20px;
}	
/***** 網站內容介紹 *****/	
.main-game-list{
	padding-top: 30px;
	width: 100%;
	height: auto;
	min-height: 530px;
	background: rgba(255,255,255,0.3);
}
.game-list-com{
	margin:auto;
	width: 1280px;
}	
.game-list-btn-left{
	margin-top: 20px;
}	
	.game-list-com-banner550300	{
	float: left;
	padding:0px 5px 30px 5px;
	}
	.game-list-com-banner550300 a{
	position: relative;
	display: block;
	width: 550px;
	height: 300px;
	border-radius: 10px;	
}
	.game-list-com-banner550300 a:after{
	content: "";
	width: 550px;
	height: 300px;
	position: absolute;
	top:0;
	left: 0;
	border-radius: 10px;
	-webkit-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.2);
	box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.2),0px 2px 5px 1px rgba(0,0,0,0.5);
	z-index: 2;
}
	.game-list-com-banner550300 a img{
	position: relative;
	border-radius: 10px;
	
}
	.game-list-com-banner550-tit{
	width: 510px;
	height: 270px;
	padding-top: 50px;
	padding-left: 40px;
	position: absolute;
	top:0;
	left: 0;
	z-index: 3;
}
	.game-list-com-banner550180{
	float: left;
	padding:0px 5px 30px 5px;
	
}
.game-list-com-banner550180 a{
	position: relative;
	display: block;
	width: 550px;
	height: 180px;
	border-radius: 10px;
	
}
.game-list-com-banner550180 a:after{
	content: "";
	width: 550px;
	height: 180px;
	position: absolute;
	top:0;
	left: 0;
	border-radius: 10px;
	-webkit-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.2);
	box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.2),0px 2px 5px 1px rgba(0,0,0,0.5);
	z-index: 2;
}
.game-list-com-banner550180 a img{
	position: relative;
	border-radius: 10px;
	
}
.game-list-com-banner550180-tit{
	width: 510px;
	height: 150px;
	padding-top: 30px;
	padding-left: 40px;
	position: absolute;
	top:0;
	left: 0;
	z-index: 3;
}
.game-list-com-banner350300{
	float: left;
	padding:0px 5px 30px 5px;
}
.game-list-com-banner350300 a{
	position: relative;
	display: block;
	width: 350px;
	height: 300px;
	border-radius: 10px;
	
}
.game-list-com-banner350300 a:after{
	content: "";
	width: 350px;
	height: 300px;
	position: absolute;
	top:0;
	left: 0;
	border-radius: 10px;
	-webkit-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.2);
	box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.2),0px 2px 5px 1px rgba(0,0,0,0.5);
	z-index: 2;
}
.game-list-com-banner350300 a img{
	position: relative;
	border-radius: 10px;
	
}
.game-list-com-banner350-tit{
	width: 310px;
	height: 270px;
	padding-top: 50px;
	padding-left: 40px;
	position: absolute;
	top:0;
	left: 0;
	z-index: 3;
}	
	.game-list-com-banner350180{
	float: left;
	padding:0px 5px 30px 5px;
}
.game-list-com-banner350180 a{
	position: relative;
	display: block;
	width: 350px;
	height: 180px;
	border-radius: 10px;
	
}
.game-list-com-banner350180 a:after{
	content: "";
	width: 350px;
	height: 180px;
	position: absolute;
	top:0;
	left: 0;
	border-radius: 10px;
	-webkit-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.2);
	box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.2),0px 2px 5px 1px rgba(0,0,0,0.5);
	z-index: 2;
}
.game-list-com-banner350180 a img{
	position: relative;
	border-radius: 10px;
	
}
.game-list-com-banner350180-tit{
	width: 310px;
	height: 150px;
	padding-top: 30px;
	padding-left: 40px;
	position: absolute;
	top:0;
	left: 0;
	z-index: 3;
}
	.game-list-com-banner550180-m{
		display: none;
	}	
.mobileAPP-con{
	text-align: center;
	width: 100%;
	height: 450px;
	background: rgba(0,0,0,0.7);
	background: url(../images/download_bg.png) center center no-repeat;
}	
.mobileAPP-con hr{
	border: none;
	margin: 10px auto;
	width: 100px;
	height: 5px;
	background: #9c8866;
}	
}
@media (max-width: 899px) {
	/***** 網站內容介紹 *****/
	.main-game-list{
	padding-top: 30px;
	width: 100%;
	height: auto;
	background: rgba(255,255,255,0.3);
}
.game-list-com{

	margin:auto;
	width: 100%;
}	
	.game-list-btn-left{
	margin-top: 5px;
}
	.game-list-com-banner550300	{
	padding:0px 10px 20px 10px;
	}
	.game-list-com-banner550300 a{
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	border-radius: 10px;	
}
	.game-list-com-banner550300 a:after{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
	border-radius: 10px;
	-webkit-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.2);
	box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.2),0px 2px 5px 1px rgba(0,0,0,0.5);
	z-index: 2;
}
	.game-list-com-banner550300 a img{
	position: relative;
	border-radius: 10px;
	width: 100%;
	height: auto;
	
}	
.game-list-com-banner550-tit{
	width: 60%;
	height: auto;
	padding-top: 4%;
	padding-left: 8%;
	position: absolute;
	top:0;
	left: 0;
	z-index: 3;
}
	.game-list-com-banner550180{	
		
	padding:0px 10px 30px 10px;
	
}
.game-list-com-banner550180 a{
	position: relative;
	display: block;
	width:100%;
	height: auto;
	border-radius: 10px;
	
}
.game-list-com-banner550180 a:after{
	content: "";
	width:100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
	border-radius: 10px;
	-webkit-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.2);
	box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.2),0px 2px 5px 1px rgba(0,0,0,0.5);
	z-index: 2;
}
.game-list-com-banner550180 a img{
	position: relative;
	border-radius: 10px;
	width:100%;
	height: auto;
	
}
.game-list-com-banner550180-tit{
	width: 80%;
	height: auto;
	padding-top:4%;
	padding-left: 8%;
	position: absolute;
	top:0;
	left: 0;
	z-index: 3;
}
.game-list-com-banner550180-m{	
		
	padding:0px 10px 30px 10px;
	
}
.game-list-com-banner550180-m a{
	position: relative;
	display: block;
	width:100%;
	height: auto;
	border-radius: 10px;
	
}
.game-list-com-banner550180-m a:after{
	content: "";
	width:100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
	border-radius: 10px;
	-webkit-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.2);
	box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.2),0px 2px 5px 1px rgba(0,0,0,0.5);
	z-index: 2;
}
.game-list-com-banner550180-m a img{
	position: relative;
	border-radius: 10px;
	width:100%;
	height: auto;
	
}
	
.game-list-com-banner350300{
	width: 48%;
    display: none;
	padding:0px 0px 30px 0px;
	margin-left: 1%;
	
}
.game-list-com-banner350300 a{
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	border-radius: 10px;
	
}
.game-list-com-banner350300 a:after{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
	border-radius: 10px;
	-webkit-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.2);
	box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.2),0px 2px 5px 1px rgba(0,0,0,0.5);
	z-index: 2;
}
.game-list-com-banner350300 a img{
	position: relative;
	border-radius: 10px;
	width: 100%;
	height: auto;
	
}
.game-list-com-banner350-tit{
	width: 50%;
	height: auto;
	padding-top: 10%;
	padding-left: 10%;
	position: absolute;
	top:0;
	left: 0;
	z-index: 3;
}
	.game-list-com-banner350180{
	display: none;
	padding:0px 5px 30px 5px;
}
.game-list-com-banner350180 a{
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	border-radius: 10px;
	
}
.game-list-com-banner350180 a:after{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
	border-radius: 10px;
	-webkit-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.2);
	box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.2),0px 2px 5px 1px rgba(0,0,0,0.5);
	z-index: 2;
}
.game-list-com-banner350180 a img{
	position: relative;
	border-radius: 10px;
	width: 100%;
	height: auto;
	
}
.game-list-com-banner350180-tit{
	width: 50%;
	height: auto;
	padding-top: 10%;
	padding-left: 10%;
	position: absolute;
	top:0;
	left: 0;
	z-index: 3;
}
	/****************************/
	.header{
	    width: 100%;
    }	
    .header-tit{
    	width: 100%;
    	height: 30px;
    	border-bottom: solid 0px #111;
    	margin: 0 auto;
    	position: relative;	
    }	
	.header_none hr{
		display: none;
	}
	.header_none{ /*none-header*/
		position: relative;
	    width: 100%;
	    height: auto;
	    background: rgba(0,0,0,0.50);
    }
    .header-tit_none{ /*none-header*/
		position: relative;
    	width: 100%;
    	height: 30px;
    	border-bottom: solid 0px #333;
    	margin: 0 auto;
    	padding: 5px 0px;
    }
	.login_input{/*none-header*/
		position: absolute;
		top:0;
		right: 1810px;
	}
	.UserID{
		position: relative;
	}
	.UserID::before{
		content: "";
		width: 50px;
		height: 50px;
		background: red;
		position: absolute;
		top:0px;
		left: 0px;
		z-index: 9999;
	}
	.LVCode_div{/*none-header*/
	
	}
	.LVCode_div{/*none-header*/
		
	}
	.LVCode_div img{

	}
	#ValidateBtn{/*none-header*/
		margin: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
		width: 40px;
		padding: 6px;
		vertical-align: middle;
	}
	#LoginValidateCode{/*none-header*/
		
	}
	.loginBrn_div{/*none-header*/
		position: absolute;
		top:0;
		right: 0px;
		padding-top: 5px;
	}
	#loginBtn{/*none-header*/
		height: 56px;
		margin-right: 10px;
	}
	#signinBtn{/*none-header*/
		height: 56px;
		border:1px solid #9c8866;
		background-color: rgba(0,0,0,0.5);
		color: #9c8866;
		margin-right: 5px;
	}
	#signinBtn:hover{/*none-header*/
		height: 56px;
		border:1px solid #9c8866;
		background-color:#9c8866;
		color: #fff;
	}
	
	.header-tit-point{
	height: 35px;
	background-color: rgba(0,0,0,0.8);
	border-radius: 50px;
}	
	.header-tit-info{
		position: absolute;
		top:53px;
		left: 8px;
		width: 30%;
	}
	.header-tit-point-wrapper{
		width: 100%;
		height: auto;
		background: #9c8866;
		padding: 7px 0px;;
	}
	.header-tit-point{
		position: relative;
		margin: 0px 10px 0px 50px;
		width: auto;
		padding-left: 20px;
		
	}
	.header-tit-point:before{
	top:2px;
	left: -45px;
	background-image: url(../images/icon-chip-black.png);
	background-repeat: no-repeat;
	background-position: left 0px;
	background-size: 38px;
	z-index: 2;
}
	.user-email{
	float: right;
    margin-right: 20px;
	margin-top: 25px;
    }
	.btn-logout{
	  float: right;
	  margin-right: 20px;
	  margin-top: 15px;
    }
	.header-nav{
		margin-top: 80px;
		width:100%;
		padding: 10px 0px;
		position: relative;
		background: rgba(0,0,0,0.8);
	}
	.header-nav-logo{
		width: 100%;
	}
	.header-nav img{
		padding-left: 10px;
		width: 70%;
		height: auto;
	}
	.header-nav_none{/*none-header*/
		margin-top: 30px;
		width:100%;
		padding: 10px 0px;
		position: relative;
		background: rgba(0,0,0,0.8);
	}
	.header-nav_none img{/*none-header*/
		padding-left: 10px;
		width: 70%;
		height: auto;
	}
	.header-nav-menu{
	 margin-top: 10px;
     float: left;
	 background: rgba(0,0,0,0.8);
	 background: -webkit-linear-gradient(-45deg,rgba(20,5,1,0.9),rgba(0,0,0,0.9));
     background: -o-linear-gradient(-45deg,rgba(20,5,1,0.9),rgba(0,0,0,0.9));
     background: -moz-linear-gradient(-45deg,rgba(20,5,1,0.9),rgba(0,0,0,0.9));
     background: linear-gradient(to -45deg,rgba(20,5,1,0.9),rgba(0,0,0,0.9));	
	 width: 100%;
	 height: 0px;
	 overflow: hidden;
    }
	#dropdownDiv{

	}
	.dropdownDiv-down{
	-o-animation-name:	dropdownDiv-down-an;
	-o-animation-iteration-count:1;
	-o-animation-duration:0.8s;
	-o-animation-fill-mode: forwards;
	-ms-animation-name:	dropdownDiv-down-an;
	-ms-animation-iteration-count:1;
	-ms-animation-duration:0.8s;
	-ms-animation-fill-mode: forwards;
	-webkit-animation-name:	dropdownDiv-down-an;
	-webkit-animation-iteration-count:1;
	-webkit-animation-duration:0.8s;
	-webkit-animation-fill-mode: forwards;
	animation-name:	dropdownDiv-down-an;
	animation-iteration-count:1;
	animation-duration:0.8s;
	animation-fill-mode: forwards;	
}
    .dropdown-btn{
		font-size: 25px;
		position: absolute;
		width: 30px;
		height: 30px;
		top :35%;
		right: 5%;
	}	
    .header-nav-menu ol li{
		display:inline;
    	text-align: center;
    	color: #fff;
		width: 100%; 
		vertical-align: middle;
    }
    .header-nav-menu ol li a span{
		width: 100%;
    	font-size: 20px;
    	line-height: 10px;
    	color: #9c8866;
		display: inline;
		margin-top: 5px;
		margin-right: 10px;
    }
    .header-nav-menu ol li a{
		text-align: left;
    	display: block;
		width: auto;
    	color: #fff;
    	line-height:10px;
		vertical-align: middle;
		border-bottom: solid 1px #9c8866;
		padding:20px;
    }	
    .header-nav-menu ol li a:active{
    	background: rgba(255,255,255,0.1);
    }
	.header-nav-menu ol li br{
    	display: none;
    }
    .swiper-container {
	  position: relative;
      width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
	.swiper-button-next,.swiper-button-prev{
		display: none;
	}
	.marquee_form{
	position: relative;
	margin: 0 auto;
	margin-top: 8px;
	height: 50px;
	width: 100%;
}
	.marquee_form_left{
	position: absolute;
	top:0px;
	left: 10px;
	padding: 1px;
	line-height: 50px;
	font-size: 40px;
}
	.marquee_form_right{
	position: absolute;
	top:0px;
	right: 0px;
	margin-top: 15px;
	margin-right: 20px;
}
    .navbar-Marquee {
	    width: 50%;
  		text-align: left;
  		border-radius: 50px;
  		line-height: 20px;	
	    margin-top: 10px;
	    margin-left: 40px;
	    background:rgba(0,0,0,0.5);
	    padding: 5px 20px;
		}
	.mobileAPP-con{
	text-align: left;
	width: 100%;
	height: 450px;
	background: rgba(0,0,0,0.7);
	background: url(../images/download_bg_m.png) no-repeat;
	background-position:  right center;	
}
	.mobileAPP-con hr{
	border: none;
	margin: 10px 0px ;
	width: 180px;
	height: 5px;
	background: #9c8866;
}
	.download-tit{
	
		margin-left: 20px;
	}
}
@media (max-width: 899px) and (min-width: 740px){
	.header_none hr{
		display: none;
	}
	.login_input{
		text-align: left;
		position: absolute;
		top:0;
		left: 5px;
		width: 100%;
	}
		#UserID,#pwd{/*none-header*/
		position: relative;
		margin-top: 18px;
		width: 200px;
		height: 34px;
		background-color: rgba(0,0,0,0.5);
		display: inline-block;
		font-size: 15px;
	}
	#loginBtn,#signinBtn{
		height: 34px;
		margin-top: 16px;
	}
}
@media (max-width: 739px)and (min-width: 561px){
	.header_none hr{
		display: none;
	}
	.login_input{
		text-align: left;
		position: absolute;
		top:0;
		left: 0px;
		width:80%;
		margin: 0px;
		margin-left: 0px;
	}
		#UserID,#pwd{/*none-header*/

		margin-top: 5px;
		width:80%;
		height: 24px;
		background-color: rgba(0,0,0,0.5);
		display:block;
	}
	#UserID{
		margin-top: 5px;
		margin-bottom: 5px;
	}
	#pwd{
		margin-top: 0px;
	}
}

@media (max-width: 560px) {
	.header_none{
		
	}
	
	
	.header_none hr{
		display: block;
		border: 0.5px solid rgba(255,255,255,0.3);
		width: 100%;
		margin-top: 47px;
	}
	.login_input{
		width: 100%;
		position: absolute;
		top:0;
		left: 0px;
		padding-right: 0px;
	}
	#UserID,#pwd{/*none-header*/
		position: relative;
		margin-top: 5px;
		width: 42%;
		height: 40px;
		background-color: rgba(0,0,0,0.5);
		display: inline-block;
		margin-left: 1%;
		margin-right: 1%;
	}
	#UserID{
		
	}
	.header-nav_none{
		margin-top: 80px;
	}
	.LVCode_div{
		
	}
	.loginBrn_div{
		margin-top: 0px;
		position: absolute;
		top:52px;
		right:2%;
	}
	#loginBtn{
		margin-right: 3px;
	}
	
	.game-list-com-banner350-tit h1{
		margin-top: 45%;
	}
	.game-list-com-banner350-tit p{
	display: none;	
	}
	.game-list-com-banner350-tit .game-list-btn-left{
		display: none;	
	}

}
@media (max-width: 440px){
	.game-list-btn-left{
	display: none;
}

}
/* Retina-ize images/icons */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx) {
	
}